.navbar {
	position: absolute;
	width: 100%;
	/* font-family: 'Consolas'; */
	background-color: transparent;
}

#background {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url("https://github.com/JSBWebDev/jsbwebdev.github.io/blob/master/Images/landing-pic7.jpg?raw=true");
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.jumbotron {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

hr {
	border-top: 2px solid black;
}
